<!DOCTYPE html>
<html>
   <head>
      <title>Войти в личный кабинет</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   </head>
   <body>
      <div class="container mt-3">
        <h2>Войти в личный кабинет</h2>
    <table>
        <tr>
            {% for word, link in zip(menu_word, menu_link) %}
            <td>
                <a href="{{ link }}">{{ word }}</a>
            </td>
            {% endfor %}
        </tr>
    </table>
         <form method="POST" action="/login">
            <div class="form-group">
               <label for="login">Имя:</label>
               <input type="email" class="form-control" id="login" placeholder="логин (емейл)" name="login" required>
            </div>
            <div class="form-group">
               <label for="password">Пароль:</label>
               <input type="password" class="form-control" id="password" placeholder="пароль" name="password" required>
            </div>
            <div class="form-group">
               <label for="role">Роль</label>
               <select id="role" name="role">
               {% for role in roles %}
               <option value={{ role.id }}>{{ role.name }}</option>
               {% endfor %}
               </select>
        </div>
            <button type="submit" class="btn btn-primary">ВОЙТИ</button>
         </form>
      </div>
        <img src="{{ url_for('static', filename='backpic.png') }}" style="display: block; margin-top: 20px;">
   </body>
</html>
