<!DOCTYPE html>
<html>
   <head>
      <title>Добавление товара</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   </head>
   <body>
      <div class="container mt-3">
        <h2>Добавление товара</h2>
    <table>
        <tr>
            {% for word, link in zip(menu_word, menu_link) %}
            <td>
                <a href="{{ link }}">{{ word }}</a>
            </td>
            {% endfor %}
        </tr>
    </table>
         <form method="POST" action="/product">
            <div class="form-group">
               <label for="name">Название:</label>
               <input type="text" class="form-control" id="name" placeholder="название товара" name="name" required>
            </div>

            <div class="form-group">
               <label for="provider">Поставщик:</label>
			   <option value=''></option>
               <select id="provider" name="provider">
               {% for provider in providers %}
               <option value="{{ provider.id }}">{{ provider.name }}</option>
               {% endfor %}
               </select>
            </div>

            <div class="form-group">
               <label for="price">Цена:</label>
               <input type="number" step="0.01" class="form-control" id="price" placeholder="цена товара" name="price" required>
            </div>
            <div class="form-group">
               <label for="quantity">Количество:</label>
               <input type="number" class="form-control" id="quantity" placeholder="количество товара" name="quantity" required>
            </div>
            <button type="submit" class="btn btn-primary">Добавить товар</button>
         </form>
      </div>
       <img src="{{ url_for('static', filename='backpic.png') }}" style="display: block; margin-top: 20px;">
   </body>
</html>
