<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>Каталог товаров интернет-магазина</title>
</head>
<body>
    <h1>Каталог товаров интернет-магазина</h1>
    <table>
        <tr>
            {% for word, link in zip(menu_word, menu_link) %}
            <td>
                <a href="{{ link }}">{{ word }}</a>
            </td>
            {% endfor %}
        </tr>
    </table>
          <form method="GET" action="/product">
          <table>
            <tr>
                <td>
                  <div class="form-group">
                    <label for="search_product_name">Название товара</label>
                    <input type="text" class="form-control" id="search_product_name" placeholder="название товара для поиска" name="search_product_name">
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <label for="search_product_min_price">Минимальная цена</label>
                    <input type="text" class="form-control" id="search_product_min_price" placeholder="минимальная цена товара" name="search_product_min_price">
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <label for="search_product_max_price">Максимальная цена</label>
                    <input type="text" class="form-control" id="search_product_max_price" placeholder="максимальная цена товара" name="search_product_max_price">
                  </div>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Найти товар</button>
                </td>
            </tr>
          </table>
          </form>
        <table>
        <thead>
            <tr>
                <th>Товар </th>
                <th>Поставщик</th>
                <th>Цена</th>
                <th>Количество</th>
            </tr>
        </thead>
<tbody>
    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.provider }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
        <td>
            {% if current_role == 3 %}
            <form method="POST" action="/product/{{ product.id }}">
                <button value="{{ product.id }}" type="submit">Управлять</button>
            </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</tbody>
</body>
</html>
